body {
    align-self: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size:large;
    font-weight: 900;
    font-style: normal;
    background-color: white;
}



.pp2 {
    width: 500px;
}

.pp3 {
    width: 300px;
}