
.table-titulo{
    background-color: #ecca08;
    
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.table{
    margin: auto;
    width: 90%;
}
